{% extends 'main/base.html' %}
{% block title%}
Lista de Tarefas
{% endblock %}

{% block content %}
   <h1>Lista de Tarefas</h1>
    <form action="{% url 'store' %}" method="post">
        {% csrf_token %}
        <input type="text" name="todo_name" placeholder="Novo item" required>
        <button type="submit" class="btn btn-primary"> Adicionar </button>
        <br><br>
    </form>
    <form action="">
        <ul>
            {% for todo in todos %}
            <li>
                {{ todo.name }}
                <a href="{% url 'show' todo.id %}"><button type="button" class="btn btn-success">Abrir</button></a>
        </form>
            <form method="post" action="{% url 'destroy' todo.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
            </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}