{% extends 'main/base.html' %}

{% block title %}Detalhes da tarefa{% endblock %}

    <h1>{% block titleh1 %} {{ name }} {% endblock %}</h1>
    
    {% block content %}
    <a href="{% url 'index'%}"><button>Voltar</button></a>
    
    <form action="{% url 'store-item' todo_id %}" method="post">
        {% csrf_token %}
    <input type="text" name="text" placeholder="Novo item" required>
    <button type="submit" class="btn btn-primary"> Adicionar </button>
    </form>

    <ul>
        {% for item in items %}
        <li>   
            {{ item.text }}
            
        <form action="{% url 'put-item' item.id %}" method="post" style="display: inline;"></form>
            {% csrf_token %}
            {% if item.complete %}
                <button type="submit" class="btn btn-success">Concluído</button>
            {% else %}
                <button type="submit" class="btn btn-warning">Pendente</button>
            {% endif %}
        </form>

            <form method="post" action="{% url 'deletar_item' item.todo.id todo_id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </li>
        {% endfor %} 
    </ul>
{% endblock %}